$primary: #FFFFFF;
$text: #121212;
$blue: #3F8DCB;
$darkblue: #0F348C;
$red: #FE5339;
$yellow: #FFDD2D;

/* Breakpoints */
$large-bp: 1100px;
$medium-bp: 850px;
$small-bp: 720px;
$tiny-bp: 640px;
$extra-small-bp: 450px;
