@import "vars";
@import "fonts";
@import "mixins";
@import "global";

/* Blocks */

@import "blocks/btn";
@import "blocks/slickArrow";
@import "blocks/intro";
@import "blocks/features";
@import "blocks/methods";
@import "blocks/advantages";
@import "blocks/price";

.slick-track
{
  display: flex !important;
  align-items: stretch !important;
}

.slick-slide
{
  height: inherit !important;
}

.slick-slide > div { height: calc(100% - 20px); }