.advantages {
  padding-top: 4.31rem;
  padding-bottom: 4.375rem;

  @include breakpoint($extra-small-bp) {
    display: flex;
    flex-direction: column;
  }

  &__title {
    position: relative;
    color: $blue;
    margin-bottom: 1.56em;
    text-align: center;

    &:before {
      content: url("../images/decor.png");
      position: absolute;
      left: 30px;
      bottom: 0;

      @include breakpoint($large-bp) {
        display: none;
      }
    }
  }

  &__inner {
    margin-bottom: 4rem;
  }

  &__item {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    margin-right: 50px;

    @include breakpoint($small-bp) {
      flex-direction: column ;
      justify-content: center !important;
      text-align: center;
      margin-right: 25px;
    }


    &-title {
      color: $darkblue;
      font-style: normal;
      font-weight: 700;
      font-size: 1.31rem;
      line-height: 1.34;
      max-width: 12.5rem;
      margin-bottom: 1.19em;
    }

    &-img {
      max-width: 254px;
      max-height: 247px;/*
      margin-right: 2.625rem;*/

      @include breakpoint($small-bp) {
        max-width: 180px;
        border-radius: 21.2px;
        overflow: hidden;
        margin: 20px;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.125rem;

    svg {
      margin-right: .75rem;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;

    @include breakpoint($extra-small-bp) {
      margin: 0;
    }
  }
}