.price {
  padding-top: 4.31rem;
  padding-bottom: 9rem;

  @include breakpoint($small-bp) {
    display: flex;
    flex-direction: column;
  }
  &__inner {
    display: flex;
    justify-content: space-between;

    @include breakpoint($small-bp) {
      flex-direction: column;
    }
  }


  &__content {
    line-height: 1.25;
    max-width: 19rem;
    margin-right: 1.9rem;

    @include breakpoint($medium-bp) {
      max-width: 15rem;
    }

    @include breakpoint($small-bp) {
      max-width: 100%;
      margin-right: 0;

    }

    @include breakpoint($extra-small-bp) {
      text-align: center;
    }
  }

  &__title {
    text-align: start;
    line-height: 1.2;
    margin-bottom: 0.59em;
    margin-top: .4em;

    span {
      @include breakpoint($extra-small-bp) {
        display: block;
      }
    }

    @include breakpoint($extra-small-bp) {
      text-align: center;
    }
  }

  &__btn {
    display: block;
    margin-top: -100px;

    @include breakpoint($small-bp) {
      margin-top: 34px;
    }
  }


}
.price__table {
  max-width: 66%;
  box-shadow: 0px 8px 10px rgba(107, 139, 217, 0.1);
  border-radius: 26px;
  overflow: hidden;

  @include breakpoint($small-bp) {
    max-width: 100%;
    margin-top: 2rem;
  }

  &-title {
    text-align: start;
    padding: 1.4em 11em 1.2em 2.9em;
    background-color: #EBF4FD;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 27px;

    @include breakpoint($large-bp) {
      font-size: 1.25rem;
      padding-right: 2.3rem;
      padding-left: 2.3rem;
    }

    @include breakpoint($medium-bp) {
      font-size: 1.125rem;
      padding: 1.8rem;
    }

    @include breakpoint($extra-small-bp) {
      padding: 1.2rem;
    }
  }

  &-content {
    padding: 0.75em 3.125em 1.25em 4.06em;

    @include breakpoint($large-bp) {
      padding-right: 2.3rem;
      padding-left: 2.3rem;
    }

    @include breakpoint($medium-bp) {
      padding-right: 1.8rem;
      padding-left: 1.8rem;
    }

    @include breakpoint($extra-small-bp) {
      padding: 1.2rem;
    }

    table {
      width: 100%;
    }

    caption {
      display: none;
    }

    th {
      color: $darkblue;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1;

      @include breakpoint($large-bp) {
        font-size: 1.125rem;
      }

    }

    th, td {
      width: 45%;
      padding-top: 1rem;
      padding-bottom: .8rem;
    }

    tbody {
      tr {
        border-bottom: 1px solid #EFEFEF;
      }

      tr:last-child{
        border-bottom: none;
      }
    }

    th:last-child, td:last-child {
      text-align: center;
      font-weight: 600;
      line-height: 1;
      color: $darkblue
    }
    td:last-child {
      font-size: 1.375rem;

      @include breakpoint($large-bp) {
        font-size: 1.25rem;
      }

      @include breakpoint($medium-bp) {
        font-size: 1.125rem;
      }
    }

  }
}